<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Adds useful window management commands to most Mac apps</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/Afloat_2.3.zip</string>
		<key>homepage</key>
		<string>https://github.com/millenomi/afloat</string>
		<key>name</key>
		<string>Afloat</string>
		<key>package</key>
		<string>net.infinite-labs.Afloat</string>
		<key>size</key>
		<string>511399</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>2.3</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Notification Center</string>
		<key>author</key>
		<string>https://github.com/inket</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Personalise your Notification Centre banners and alerts</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/CustomNC_1.4.zip</string>
		<key>homepage</key>
		<string>https://github.com/inket/CustomNC</string>
		<key>name</key>
		<string>CustomNC</string>
		<key>package</key>
		<string>me.inket.CustomNC</string>
		<key>size</key>
		<string>401437</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.NotificationCenter</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.4</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Notification Center</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Adds a &quot;Clear All&quot; button to Notification Center</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/NotificationClear_0.1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>NotificationClear</string>
		<key>package</key>
		<string>com.chuckhendo.NotificationClear</string>
		<key>size</key>
		<string>403153</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.NotificationCenter</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Preview</string>
		<key>author</key>
		<string>https://github.com/elanini</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Disable auto-opened thumbnail sidebar for PDFs</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/PreviewNoSidebar_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/elanini/PreviewNoSidebar</string>
		<key>name</key>
		<string>PreviewNoSidebar</string>
		<key>package</key>
		<string>com.elanini.PreviewNoSidebar</string>
		<key>size</key>
		<string>11061</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Preview</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Chrome</string>
		<key>author</key>
		<string>https://github.com/mathcolo</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Redirect Chrome notifications to Notification Center</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/RadonChrome_1.0.zip</string>
		<key>homepage</key>
		<string>https://github.com/mathcolo/RadonChrome</string>
		<key>name</key>
		<string>RadonChrome</string>
		<key>package</key>
		<string>com.prestonmueller.RadonChrome</string>
		<key>size</key>
		<string>18454</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome</string>
			</dict>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome.canary</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>iMessage</string>
		<key>author</key>
		<string>https://github.com/hbang</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>See who’s typing an iMessage to you, from anywhere on your iOS device or Mac</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/TypeStatus_1.0.zip</string>
		<key>homepage</key>
		<string>https://typestatus.com/</string>
		<key>name</key>
		<string>TypeStatus</string>
		<key>package</key>
		<string>ws.hbang.typestatus.mac</string>
		<key>size</key>
		<string>16275</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.iChat</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Customize your Dock</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/cDock_0.11.4.zip</string>
		<key>homepage</key>
		<string>http://w0lfschild.github.io/app_cDock.html</string>
		<key>name</key>
		<string>cDock</string>
		<key>package</key>
		<string>org.w0lf.cDock</string>
		<key>size</key>
		<string>50100</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.11.4</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Safari</string>
		<key>author</key>
		<string></string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Old style tabs in Safari</string>
		<key>donate</key>
		<string></string>
		<key>filename</key>
		<string>/bundles/cosyTabs_1.4.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>cosyTabs</string>
		<key>package</key>
		<string>me.inket.cosyTabs</string>
		<key>size</key>
		<string>16650</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.4.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Safari</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Refresh all tabs for Safari</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/safariSoda_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>safariSoda</string>
		<key>package</key>
		<string>org.w0lf.safariSoda</string>
		<key>size</key>
		<string>10976</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Safari</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Spotify</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Improve spotify Desktop player</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/spotifyPlus_0.5.2.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>spotify+</string>
		<key>package</key>
		<string>org.w0lf.spotiHack</string>
		<key>size</key>
		<string>242902</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.spotify.client</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.5.2</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Tries to add vibrancy to all Windows</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/zestyWin_0.1.41.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>zestyWin</string>
		<key>package</key>
		<string>org.w0lf.zestyWin</string>
		<key>size</key>
		<string>21895</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string></string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1.41</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Dictionary</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Bookmark words in Apple&apos;s Dictionary application</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/BetterDictionary_0.992.zip</string>
		<key>homepage</key>
		<string>http://pooriaazimi.github.io/BetterDictionary</string>
		<key>name</key>
		<string>BetterDictionary</string>
		<key>package</key>
		<string>com.pooriaazimi.betterdictionary</string>
		<key>size</key>
		<string>326967</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.Dictionary</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.992</string>
		<key>webpage</key>
		<string>http://pooriaazimi.github.io/BetterDictionary</string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>Show the number of files in trash as badge on the trash icon.</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/binventory_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>binventory</string>
		<key>package</key>
		<string>com.alexzielenski.binventory</string>
		<key>size</key>
		<string>21552</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>System</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string>All application windows are resizable plus improved resizing</string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/captainFullscreen_0.1.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>_fullscreenER</string>
		<key>package</key>
		<string>org.w0lf._fullscreenER</string>
		<key>size</key>
		<string>20259</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>0.1</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Dock</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/DarkDock_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>DarkDock</string>
		<key>package</key>
		<string>ca.adambell.DarkDock</string>
		<key>size</key>
		<string>19941</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.dock</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string>Google Chrome</string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/NoFavicons_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>NoFavicons</string>
		<key>package</key>
		<string>org.michaelphines.NoFavicons</string>
		<key>size</key>
		<string>8929</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.google.Chrome</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/SafariStand_9.0.217Yosemite.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>SafariStand</string>
		<key>package</key>
		<string>com.hetima.SafariStand</string>
		<key>size</key>
		<string>346315</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string></string>
			</dict>
		</array>
		<key>version</key>
		<string>9.0.217Yosemite</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/MenuBarHider_1.0.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>MenuBarHider</string>
		<key>package</key>
		<string>com.yourcompany.MenuBarHider</string>
		<key>size</key>
		<string>10978</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>*</string>
			</dict>
		</array>
		<key>version</key>
		<string>1.0</string>
		<key>webpage</key>
		<string></string>
	</dict>
	<dict>
		<key>apps</key>
		<string></string>
		<key>author</key>
		<string>Wolfgang Baird</string>
		<key>contact</key>
		<string>aguywithlonghair@gmail.com</string>
		<key>description</key>
		<string></string>
		<key>donate</key>
		<string>https://www.paypal.me/w0lfspapa</string>
		<key>filename</key>
		<string>/bundles/TerminalCopyOnSelect_.zip</string>
		<key>homepage</key>
		<string></string>
		<key>name</key>
		<string>TerminalCopyOnSelect</string>
		<key>package</key>
		<string>com.s21g.TerminalCopyOnSelect</string>
		<key>size</key>
		<string>11405</string>
		<key>targets</key>
		<array>
			<dict>
				<key>BundleIdentifier</key>
				<string>com.apple.terminal</string>
			</dict>
		</array>
		<key>version</key>
		<string></string>
		<key>webpage</key>
		<string></string>
	</dict>
</array>
</plist>
